extends ../layout.pug

block content
    h1 Liste des utilisateurs

    a(class="btn btn-primary" href="/user/form") Nouvel utilisateur

    table(class="table table-bordered table-striped")
        tr
            th email
            th Mot de passe
            th
        