extends ../layout.pug

block content
    h1 Liste des utilisateurs

    a(class="btn btn-primary" href="/user/form") Nouvel utilisateur

    table(class="table table-bordered table-striped")
        tr
            th email
            th Mot de passe
            th
        each user in userList
            tr
                td= user.email
                td= user.password
                td
                    a(class="btn" href="/user/form/" + user._id) Modif
                    a(class="btn" href="/user/delete/" + user._id) Suppr